/*#container{
    width: calc(100% - 40px);
    margin-top:10px;
    margin-right:0px;
    margin-bottom:10px;
    margin-left:20px;
}

#header{
    width: 100%;
    height:60px;
    background-color: #eee;
    border: 1px solid #ddd;
    margin-bottom:10px;
}

#content{
    width: 100%;
    height:200px;
    margin-bottom:10px;
    border: 1px solid #ddd;
}

#footer{
    width: 100%;
    height:60px;
    background-color: #eee;
    border: 1px solid #ddd;
}

h1 {
    font-size: 12pt;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #336;
}*/

body {
    background-color: rgba(219, 230, 239, 0.56);
}

#container {
    background: rgba(227, 227, 227, 0);
    margin: auto auto;
    width: 600px;
    height: auto;
    box-shadow: 0px 0px 10px 5px #e0e0e0;
}

#header {
    width: 100%;
/*    font: 16px sans-serif;
    color: rgba(0, 0, 0, 0);*/
    background: aliceblue;
/*    background: #1b1b1b;*/
    line-height: 50px;
    height: 100px;
    text-align: center;
    box-shadow: 0px 0px 10px 5px #e0e0e0;
}

h2 {
    margin-bottom: 0px;
    /*text-shadow: #adadad 0px 3px;*/
    text-shadow: 1px 1px 2px #adadad;
}

#devName {
    width: 100%;
/*    float:left;*/
    font-size: 16px;
    text-align: center;
}

#clock
{
    width: 100%;
    /*float:right;*/
    font-size: 16px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    background: #f0f8ff;
}

#content {
    width: 100%;
/*    font: 16px sans-serif;
    color: rgba(0, 0, 0, 0);*/
    background: aliceblue;
/*    line-height: 50px;*/
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px 5px #e0e0e0;
}

#leftContent {
    width: 50%;
    height: 300px;
    float:left;
    background-color: rgba(250, 235, 215, 0);

    display: flex;
    align-items: center;
    justify-content: center;
}

#rightContent {
    width: 50%;
    height: 300px;
    float:right;
    background-color: rgba(255, 228, 181, 0);

    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    line-height: unset;
}

.formLine {
    width: 150px;
}

input[type="text"] {
    text-align: center;
    width: 130px;
}

/*
.form_submit_button:active, .form_reset_button:active, .meowButton:active {background: #e6d4c3;}
.form_submit_button:hover, .form_reset_button:hover, .meowButton:hover {background: rgb(230, 212, 195);}
*/

.button:hover {
    background: rgb(230, 212, 195);
}

.button:active {
    background: white;
}

.button {
    margin-right: 5px;
    background: white;
    border-width: 1px ;
    height: 25px;
}

.form_submit_button, .form_reset_button, .meowButton {
    width: 60px;
    height: 30px;
}

.button_block {
    line-height: 30px;
}

.input_x_button {
    width: 40px;
    height: 25px;
}

.slider {
    margin-top: 10px;
    margin-bottom: 15px;

}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

#centerContent {
    width: 100%;
    height:auto;
    background-color: rgba(255, 228, 181, 0);

    display: flex;
    align-items: center;
    justify-content: center;
}

.tableResults {
    width: 80%;
    line-height: 10px;
    text-align: center;
}

tr:hover > td {
    background-color: #e6d4c3;
}

#footer {
    width: 100%;
/*    font: 16px sans-serif;
    color: rgba(0, 0, 0, 0);*/
    background: aliceblue;
    line-height: 50px;
    height: 50px;
    text-align: center;
    box-shadow: 0px 0px 10px 5px #e0e0e0;
}

svg, svg#graph text {
    cursor: pointer;
    user-select: none;
}
